loadmodule "dispatcher.so"

#!trydefenvs DISPATCHER_DEFAULT_SOCKNAME
#!trydef DISPATCHER_DEFAULT_SOCKNAME "lan-internal"

modparam("dispatcher", "db_url", DBCONFIG)
modparam("dispatcher", "table_name", "dispatcher_registrar")
modparam("dispatcher", "force_dst", 1)
modparam("dispatcher", "setid_pvname", "$avp(setid)")
modparam("dispatcher", "attrs_pvname", "$avp(ds_info)")
modparam("dispatcher", "xavp_dst", "_dsdst_")
modparam("dispatcher", "ds_ping_from", "sip:registrar-server@test.com")
modparam("dispatcher", "ds_ping_interval", 30)
modparam("dispatcher", "flags", 2)
modparam("dispatcher", "ds_probing_threshold", 6) ## inactive after 1 minute of attempts, without success
modparam("dispatcher", "ds_inactive_threshold", 1) ## active after two attempts
modparam("dispatcher", "ds_ping_reply_codes", "class=2;code=200;code=202")
modparam("dispatcher", "ds_probing_mode", 1)
modparam("dispatcher", "ds_ping_latency_stats", 1)
modparam("dispatcher", "ds_retain_latency_stats", 1)
modparam("dispatcher", "ds_hash_size", 5) ## 32 is enough
modparam("dispatcher", "ds_attrs_none", 1)
modparam("dispatcher", "reload_delta", 10)
modparam("dispatcher", "ds_default_sockname", DISPATCHER_DEFAULT_SOCKNAME)
## modparam("dispatcher", "ds_dns_match_all", 1)

event_route[dispatcher:dst-down] {
    xlog("L_ERR", "Destination down: $rm $ru ($du)\n");
}

event_route[dispatcher:dst-up] {
    xlog("L_ERR", "Destination up: $rm $ru ($du)\n");
}
