
route[REQINIT] {

    if(has_totag())
        exit;

    route(TRUSTED);

    #!ifdef WITH_DMQUEUE
        route(HANDLE_KDMQ_REQUEST);
    #!endif

    route(REGISTRAR);

    return;
}

## blocking logic will be applied not here, but on reception of bad attempts/brute force, from Core --> WebRTC Gateway
route[TRUSTED] {

    if (is_method("KDMQ"))
        return;

    ##if !(ds_is_from_list("3", "2", "$ru") || ds_is_from_list("1", "2", "$ru") || is_myself("$si")) {
    if (ds_is_from_list("3", "2") || is_myself("$si"))
        return;

    xlog("L_WARN", "[TRUSTED] Received a request from a source different from WebRTC-Gateway pool, strange... --> $$si --> $si\n");
    drop();

}
