
route[REQINIT] {

    if(has_totag())
        exit;

    route(TRUSTED);

    #!ifdef WITH_DMQUEUE
        route(HANDLE_KDMQ_REQUEST);
    #!endif

    route(REGISTRAR);

    return;
}

## blocking logic will be applied not here, but on reception of bad attempts/brute force, from Core --> WebRTC Gateway
route[TRUSTED] {

    ds_is_from_list();

    if (is_method("KDMQ|REGISTER"))
        return;

    ## TODO: https://github.com/kamailio/kamailio/issues/4338 (need to take a look into this) - alternative to be able to authenticate via dns, at this point only works for the first resolved one
    ## if (ds_is_from_list("3") || is_myself("$si")) ## to test with ds_dns_match_all
    if (is_myself("$si") || is_myself("$ru"))
        return;

    xlog("L_WARN", "[TRUSTED] Received a request from a source different from WebRTC-Gateway pool, strange... --> $$si --> $si\n");
    drop();

}
