
route[REQINIT] {

    if(has_totag())
        exit;

    route(TRUSTED);

    #!ifdef WITH_DMQUEUE
        route(HANDLE_KDMQ_REQUEST);
    #!endif

    route(REGISTRAR);

    return;
}

## blocking logic will be applied not here, but on reception of bad attempts/brute force, from Core --> WebRTC Gateway
route[TRUSTED] {

    if !(ds_is_from_list(WEBRTC_GATEWAY_SET_ID) || ds_is_from_list(REGISTRAR_INTERNAL_SET_ID) || is_myself("$si")) {
        xlog("L_WARN", "[TRUSTED] Received a request from a source different from WebRTC-Gateway pool, strange... --> $$si --> $si\n");
        drop();
    }

}
